*{
    padding: 0;
    margin: 0;
    border: 0;
}
 *:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
nav,footer,header,aside {
    display: block;
}
html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a, a:visited {
    text-decoration: none;
}
ul,li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Righteous;
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

body {
    font-family: Urbanist;
    background: #14110E;
}

.header__wrapper {
    padding: 32px 100px;
    background-color: #1C1814;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1920px;
    margin: 0 auto;
}

.header__wrapper img {
    fill: black;
}

.header__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 40px;
}

.header__item:last-child {
    margin-right: 0px;
}

.header__link {
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    transition-duration: 0.5s;
}

.header__link:hover {
    color: #C99E71;
}

.intro { 
    background: url(../img/header_img/rect.png) no-repeat center;
    background-size: cover;
    padding-bottom: 40px;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.intro__wrapper {
    max-width: 530px;
    width: 100%;
}

.intro__wrapper h1 {
    padding-top: 150px;
    font-weight: 400;
    font-size: 72px;
    line-height: 94px;
    color: white;
}

.intro__wrapper p {
    color: white;
    margin-top: 35px;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
}

.intro__wrapper button {
    margin-top: 65px;
    margin-bottom: 170px;
    padding: 24px 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    border: 1px solid #C99E71;
    border-radius: 45px;
    background-color: #C99E71;
    color: white;
    transition-duration: 1s;
}

.intro__wrapper button:hover {
    background-color: transparent;
}

.process__wrapper {
    padding-top: 140px;
    display: flex;
    justify-content: space-between;
}

.process__info {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
}

.process__number {
    font-family: Righteous;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C99E71;
}

.process__text {
    font-family: Righteous;
    margin-left: 12px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: white;
}

.process__card img {
    max-width: 366px;
    width: 100%;
    object-fit: cover;
}


.history__wrapper {
    margin-top: 140px;
    display: flex;
    max-height: 635px;
    height: 100%;
}

.history__photos img {
    max-width: 298px;
    width: 100%;
}
.history__photos img:last-child {
    margin-top: 32px;
}

.history__photo {
    max-width: 298px;
    width: 100%;
    margin-left: 32px;
}

.history__card {
    max-width: 510px;
    width: 100%;
    margin-left: 32px;
    background-color: #1C1814;
}

.history__card h4 {
    font-family: Urbanist;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #C99E71;
    margin-top: 120px;
    margin-left: 56px;
}

.history__card h3 {
    margin-top: 12px;
    margin-left: 56px;
    margin-right: 56px;
    font-family: Righteous;
    font-weight: 400;
    font-size: 48px;
    line-height: 63px;
    color: white;
}

.history__card p {
    margin-top: 36px;
    margin-left: 56px;
    margin-right: 56px;
    font-family: Urbanist;
    font-weight: 300;
    font-size: 16px;
    line-height: 29px;
    color: white;
}

.popular__wrapper {
    margin-top: 140px;
    text-align: center;
}

.popular__wrapper h4 {
    color: #C99E71;
    font-family: Urbanist;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.popular__wrapper h2 {
    font-family: Righteous;
    margin-top: 12px;
    color: white;
    font-weight: 400;
    font-size: 48px;
    line-height: 63px;
}

.popular__cards {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
}

.popular__card {
    padding: 48px;
    background-color: #121315;
}

.popular__card img {
    max-width: 270px;
    width: 100%;
}

.popular__card h3 {
    margin-top: 36px;
    color: white;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    font-family: Righteous;
    text-transform: uppercase;
}

.popular__card p {
    margin-top: 35px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;  
    color: white;
}

.popular__card p button{
   background-color: transparent;
   color: white;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   transition-duration: 1s;
}

.popular__card p button:hover {
    color: #C99E71;
}

.popular__button {
    max-width: 252px;
    width: 100%;
    margin-top: 56px;
    padding: 20px 36px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid #C99E71;
    border-radius: 45px;
    background-color: #C99E71;
    color: white;
    transition-duration: 1s;
}

.popular__button:hover {
    background-color: transparent;
}

.machine__wrapper {
    margin-top: 140px;
    padding: 85px 80px 85px 170px;
    background-color: #1C1814;
    display: flex;
    align-items: center;
}

.machine__photo {
    max-width: 226px;
    width: 100%;
}

.machine__info {
    margin-left: 160px;
}

.machine__title {
    font-family: Righteous;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    color: white;
}

.machine__text {
    color: white;
    margin-top: 36px;
    font-weight: 300;
    font-family: Urbanist;
    font-size: 16px;
    line-height: 29px;
}

.machine__button {
    margin-top: 36px;
    padding: 20px 36px;
    max-width: 215px;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    border: 1px solid #C99E71;
    border-radius: 45px;
    background-color: #C99E71;
    color: white;
    transition-duration: 1s;
}

.machine__button:hover {
    background-color: transparent;
}

.menu__wrapper {
    text-align: center;
}

.menu__wrapper h4 {
    font-family: Urbanist;
    margin-top: 140px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #C99E71;
}

.menu__wrapper h2 {
    margin-top: 12px;
    font-family: Righteous;
    font-weight: 400;
    font-size: 48px;
    line-height: 62.4px;
    color: white;
}


.menu__panel {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
}

.menu__cards {
    display: flex;
    flex-direction: column;
    max-width: 565px;
    width: 100%;
}

.menu__card {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #32323D;
    max-width: 565px;
    margin-bottom: 36px;
}

.menu__card:last-child {
    margin-bottom: 0px;
}

.menu__photo {
    max-width: 72px;
    width: 100%;
}

.menu__product-name {
    font-family: Righteous;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: white;
}


.menu__product-price {
    font-family: Urbanist;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: white;
    transition-duration: 1s;
}

.menu__product-price:hover {
    color: #C99E71;
}

.opinion__wrapper {
    margin-top: 140px;
}

.opinion__wrapper h4 {
    text-align: center;
    font-family: Urbanist;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #C99E71;
}

.opinion__wrapper h2 {
    text-align: center;
    margin-top: 12px;
    font-family: Righteous;
    font-weight: 400;
    font-size: 48px;
    line-height: 62.4px;
    color: white;
}

.opinion__cards {
    margin-top: 56px;
    display: flex;
}

.opinion__card {
    background-color: #1C1814;
    max-width: 565px;
    width: 100%;
    padding: 40px;
}

.opinion__card:last-child {
    margin-left: 40px;
}

.opinion__info {
    display: flex;
    justify-content: space-between;
}

.opinion__info img {
    max-width: 129px;
    width: 100%;
    max-height: 149px;
    height: 100%;
}

.opinion__info p {
    max-width: 332px;
    width: 100%;
    color: white;
    font-family: Urbanist;
    font-weight: 300;
    font-size: 16px;
    line-height: 28.8px;
}

.opinion__user-name {
    margin-top: 28px;
    font-family: Urbanist;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.6px;
    color: white;
}

.opinion__user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.opinion__user-info p {
    font-family: Urbanist;
    font-weight: 500;
    font-size: 14px;
    line-height: 25.2px;
    color: #FFFFFF80;
}

.booking__wrapper {
    margin-top: 140px;
    display: flex;
}

.booking__card {
    background-color: #1C1814;
    padding: 72px 48px;
    max-width: 495px;
    width: 100%;
    max-height: 510px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking__card h4 {
    font-family: Urbanist;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    color: #C99E71;
}

.booking__card h2 {
    margin-bottom: 56px;
    font-family: Righteous;
    font-weight: 400;
    font-size: 48px;
    line-height: 59.6px;
    color: white;
}

.booking__input {
    margin-bottom: 24px;
    padding: 20px 16px;
    max-width: 489px;
    width: 100%;
    background-color: #14110E;
    color: white;
    font-family: Urbanist;
    font-weight: 400;
    font-size: 18px;
    line-height: 32.4px;
}

.booking__input::placeholder {
    color: white;
}

.booking__input:last-child {
    margin-bottom: 0px;
}

.booking__card button {
    margin-top: 36px;
    padding: 20px 36px;
    max-width: 215px;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    border: 1px solid #C99E71;
    border-radius: 45px;
    background-color: #C99E71;
    color: white;
    transition-duration: 1s;
}

.booking__card button:hover {
    background-color: transparent;
}

.news__wrapper {
    margin-top: 140px;
}

.news__wrapper h4 {
    font-family: Urbanist;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    color: #C99E71;
    text-align: center;
}

.news__wrapper h2 {
    font-family: Righteous;
    font-weight: 400;
    font-size: 48px;
    line-height: 62.4px;
    color: white;
    text-align: center;
}

.news__cards {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
}

.news__card {
    background-color: #1C1814;
}

.news__photo {
    max-width: 366px;
    width: 100%;
}

.news__information{
    padding: 24px;
}

.news__by {
    display: flex;
    justify-content: space-between;
}

.news__by p {
    font-weight: 400;
    font-size: 18px;
    font-family: Urbanist;
    line-height: 21.78px;
    color: white;
}

.news__by span {
    color: #C99E71;
}

.news__text {
    margin-top: 16px;
    margin-bottom: 33px;
    font-family: Righteous;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: white;
}

.news__next-page {
    display: flex;
    align-items: center;
    font-family: Urbanist;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
    color: #C99E71;
}

.news__next-page img {
    margin-left: 8px;
}