*{
    padding: 0;
    margin: 0;
    border: 0;
}
 *:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
nav,footer,header,aside {
    display: block;
}
html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a, a:visited {
    text-decoration: none;
}
ul,li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/


body {
    font-family: League Spartan;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(14, 29, 40, 0.8);
    z-index: 2;
}

@media (max-width:1066px){
    .header__logo{
        margin-left: 25px;
    }

    .header__list{
        margin-right: 25px;
    }
}
.wrapper { 
    max-width: 1060px;
    margin: 0 auto;
}


.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}


@media (max-width: 770px){
    .header__nav {
        display: none;
    }
}

/*-------------------*/

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 82px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 24px;
    line-height: 24px;
    font-weight: 200;
    color: white;
    transition-duration: 1s;
}

.header__link:hover {
    opacity: .75;
    color: aquamarine;
}

/*-------------*/



.intro {
    
    background: url(../img/Header/Hero.png) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 469px;
}

.intro__title {
    max-width: 620px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: white;
    margin-bottom: 22px;
}

.intro__text {
    max-width: 546px;
    color: white;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 60px;
}

.intro__search {
    display: flex;
    flex-wrap: wrap;
}

.intro__search-field {
    width: 297px;
    background-color: transparent;
    background: url(../img/Header/Oval.png) no-repeat left center;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid white;
    margin-right: 60px;
    padding-left: 43px;
    font-weight: 500;
    font-size: 24px;
    color: white;
    outline: none;
}

@media (max-width:460px) {
    .intro__search-field {
        width: 60%;
        background: none;
        padding-left: 0;
    }
}


@media (max-width:1066px){
    .intro__title {
        margin-left: 20px;
        margin-right: 25px;
    }

    .intro__text {
        margin-left: 20px;
        margin-right: 25px;
    }

    .intro__search{
        margin-left: 20px;
        margin-right: 25px;
    }
}

@media (max-width:965px){

    .intro__search-field{
        margin-bottom: 25px;
        height: 50px;
    }

    .intro__search-button{
        margin-bottom: 35px;
    }

}


.intro__search-field::placeholder {
    color:white;
    font-weight: 500;
    font-size: 24px;
}

.intro__search-button {
    padding: 15px 40px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    background-color: #1B7DFF;
    color: white;
    border-radius: 12px;
    transition-duration: 1s;
}

.intro__search-button:hover {
    background-color: rgb(27, 0, 177);
}

/*------------------------------*/

.benefits {
    padding: 0 90px;
}

.benefits__container {
    max-width: 1262px;
    margin: 0 auto;
    margin-top: -220px;
    padding-bottom: 70px;
    border: 1px solid #000;
    box-shadow: 1px 2px 10px rgba(0, 0, 0.3);
    background-color: white;
    overflow: hidden;
}



@media (max-width:670px){
    .benefits {
        padding: 0 40px;
    }
}

@media (max-width:410px){
    .benefits__container {
        margin-top: -120px;
    }
}

@media (max-width:380px){
    .benefits__container {
        margin-top: -50px;
    }
}

@media (max-width:260px){
    .benefits__container {
        margin-top: -60px;
    }
}

@media (max-width:220px){
    .benefits__container {
        margin-top: -20px;
    }
}



.benefits__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    margin-top: 93px;
    margin-left: 99px;
   
}

.benefits__main {
    display: flex;
    justify-content: space-between;
    padding: 90px 100px 50px 100px;
}

.benefits__cards {
    max-width: 317px;
    display: flex;
    flex-direction: column;
}

@media (max-width:800px) {
    .benefits__main {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
    .benefits__cards {
        align-items:center;
    }

    .benefits__title {
        text-align: center;
        margin-left: 0px;
    }

    .benefits__cards:first-child {
        margin-left: 0;
    }


    .benefits__cards:last-child {
        margin-right: 0;
    }
}


.benefits__cards-img {
    margin-bottom: 37px;
    min-height: 66px;
    max-width: 66px;
    display: flex;
    justify-content: center;
}

.benefits__cards-title {
    margin-bottom: 26px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.benefits__cards-text {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    flex: 1 1 auto;
}

.benefits__cards-button {
    height: 38px;
    max-width: 112px;
    display: inline-block;
    line-height: 44px;
    padding: 0 15px;
    border-radius: 12px;
    background-color: #1B7DFF;
    border: 2px solid #1B7DFF;
    transition-duration: 1s;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    font-weight: 500;
}


.benefits__cards-button:hover {
    background: transparent;
    color: #1B7DFF;
    border: 2px solid #1B7DFF;
}

@media (max-width:768px){
    .benefits__cards-button{
        margin-bottom: 30px;
    }
}

/*------------------------------*/


.trip {
    padding: 0 90px;
    
}

@media (max-width:1024px){
    .trip{
        padding: 0 45px;
    }

}

@media (max-width:768px){
    .trip{
        padding: 0 22.5px;
    }

}

.trip__container {
    max-width: 1262px;
    margin: 0 auto;
    overflow: hidden;
}

.trip__title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 131px;
}



.trip__title-text {
    font-size: 35px;
    line-height: 42px;
    font-weight: 500;
    position: relative;
    padding-bottom: 10px;
}


.trip__title-text::after {
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006dfe;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (max-width:460px) {
    .trip__title-text::after {
        width: 50%;
    }
}

.trip__title-button {
    height: 24px;
    max-width: 72px;
    display: inline-block;
    line-height: 24px;
    padding: 0 15px;
    border-radius: 12px;
    background-color: #1B7DFF;
    border: 2px solid #1B7DFF;
    transition-duration: 1s;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 5px;
}

.trip__title-button:hover {
    background: transparent;
    color: #1B7DFF;
    border: 2px solid #1B7DFF;
}

.trip__cards {
  padding-top: 60px;
}


.trip__card-lg {
    display: flex;
    margin-bottom: 10px;
}

.trip__card-lg img {
    width: calc(100%/2);
    height: auto;
    object-fit: cover;
}

.trip__card-pic-fuji {
    padding-right: 5px;
}

.trip__card-pic-kyoto {
    padding-left: 5px;
} 

.trip__card-sml {
    display: flex;
}

.trip__card-sml img {
    width: calc(100%/3);
    height: auto;
    object-fit: cover;
}


.trip__card-pic-tokyo {
    padding-right: 5px;
}

.trip__card-pic-niigata {
    padding: 0 5px;
}

.trip__card-pic-sapporo {
    padding-left: 5px;
}

@media (max-width:768px) {
    .trip__card-lg {
        flex-direction: column;
        margin-bottom: 0;
    }

    .trip__card-lg img {
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
    }

    .trip__card-sml {
        flex-direction: column;
    }

    .trip__card-sml img {
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
    }

    .trip__title {
        flex-direction: column;
    }

    .trip__title-button {
        margin-top: 20px;
    }
}

/*------------------------------*/


.prefectures {
    padding: 0 90px;
}

@media (max-width:1024px){
    .prefectures{
        padding: 0 45px;
    }

}

@media (max-width:768px){
    .prefectures{
        padding: 0 22.5px;
    }

}

.prefectures__container {
    max-width: 1262px;
    margin: 0 auto;
}

.prefecture__totori {
    padding-top: 131px;
    display: flex;
    
}

.prefecture__totori-img {
    width: 100%;
    max-width: 600px;
    margin-right: 108px;
}

.prefecture__totori-card {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.prefecture__totori-card h2 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
}

.prefecture__totori-card p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.prefecture__totori-card a {
    height: auto;
    max-width: 153px;
    display: inline-block;
    line-height: 24px;
    padding: 0 15px;
    border-radius: 12px;
    background-color: #1B7DFF;
    border: 2px solid #1B7DFF;
    transition-duration: 1s;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    font-weight: 400;
}

.prefecture__totori-card a:hover {
    background: transparent;
    color: #1B7DFF;
    border: 2px solid #1B7DFF;
}

.prefecture__kyoto {
    padding-top: 77px;
    display: flex;
    flex-direction: row-reverse;
}

.prefecture__kyoto img {
    width: 100%;
    max-width: 600px;
    margin-left: 108px;
}

.prefecture__kyoto-card {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.prefecture__kyoto-card h2 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
}

.prefecture__kyoto-card p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.prefecture__kyoto-card a {
    height: auto;
    max-width: 184px;
    display: inline-block;
    line-height: 24px;
    padding: 0 15px;
    border-radius: 12px;
    background-color: #1B7DFF;
    border: 2px solid #1B7DFF;
    transition-duration: 1s;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    font-weight: 400;
}

.prefecture__kyoto-card a:hover {
    background: transparent;
    color: #1B7DFF;
    border: 2px solid #1B7DFF;
}

@media (max-width:1023px){
    .prefecture__totori {
        flex-direction: column;
        align-items: center;
    }

    .prefecture__kyoto {
        flex-direction: column;
        align-items: center;
    }

    .prefecture__totori img {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .prefecture__kyoto img {
        margin-left: 0;
        margin-bottom: 40px;
    }

    .prefectures h2 {
        margin-bottom: 20px;
        text-align: center;
    }

    .prefectures p {
        margin-bottom: 15px;
    }

}

/*------------------------------*/ 

.places {
    padding: 0 90px;
}

@media (max-width:1024px){
    .places{
        padding: 0 45px;
    }

}

@media (max-width:768px){
    .places{
        padding: 0 22.5px;
    }

}

.places__container {
    max-width: 1262px;
    margin: 0 auto;
    padding-bottom: 140px;
}

.places__container h2 {
    margin-top: 139px;
    font-size: 35px;
    line-height: 42px;
    font-weight: 500;
    position: relative;
    padding-bottom: 10px;
}

.places__container img {
    width: 100%;
    max-width: 600px;
}

.places__container h2::after {
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006dfe;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (max-width:460px) {
    .places__container h2::after {
        width: 50%;
    }
}


.places__cards-upper {
    margin-top: 64px;
    display: flex;
}

.places__cards-lower {
    margin-top: 58px;
    display: flex;
}

@media (max-width:740px) {
    .places__cards-upper {
        flex-direction: column;
        align-items: center;
    }

    .places__cards-lower {
        flex-direction: column;
        align-items: center;
    }

    .places img {
        margin-top: 25px;
    }
}

.places__card-up p {
     margin-top: 45px;
     margin-bottom: 38px;
     font-size: 16px;
     line-height: 24px;
     font-weight: 400;
}

    
.places__card-up {
    margin-right: 50px;
}

.places__card-up:last-child {
    margin-right: 0px;
}

.places__card-low {
    margin-right: 50px;
}

.places__card-low:last-child {
    margin-right: 0px;
}


@media (max-width:740px){
    .places__card-up {
        margin-right: 0px;
    }

    .places__card-low {
        margin-right: 0px;
    }

    .places__cards-lower {
        margin-top: 5px;
    }
}


.places__card-up a {
    height: auto;
    max-width: 184px;
    display: inline-block;
    line-height: 24px;
    padding: 0 15px;
    border-radius: 12px;
    background-color: #1B7DFF;
    border: 2px solid #1B7DFF;
    transition-duration: 1s;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    font-weight: 400;
}


.places__card-up a:hover {
    background: transparent;
    color: #1B7DFF;
    border: 2px solid #1B7DFF;
}


.places__card-low p {
    margin-top: 45px;
    margin-bottom: 38px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.places__card-low a {
    height: auto;
    max-width: 184px;
    display: inline-block;
    line-height: 24px;
    padding: 0 15px;
    border-radius: 12px;
    background-color: #1B7DFF;
    border: 2px solid #1B7DFF;
    transition-duration: 1s;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    font-weight: 400;
}

.places__card-low a:hover {
    background: transparent;
    color: #1B7DFF;
    border: 2px solid #1B7DFF;
}

/*------------------*/ 
.video {
    background: url(../img/Image.png) no-repeat center center;
    background-size: cover;
    height: 610px;
    width: 100%;
    object-fit: cover;
}


/*------------------------------*/

.footer {
    background: rgba(14, 29, 40, 1);
}

.footer__container {
    max-width: 1060px;
    margin: 0 auto;
}

.footer__row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.footer__logo {
    margin-bottom: 187px;
    margin-top: 119px;
}

.footer__nav {
    margin-bottom: 118px;
    margin-top: 119px;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.footer__nav h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: white;
    margin-bottom: 3px;
}

.footer__nav a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: white;
    margin-bottom: 4px;
    transition-duration: 1s;
}

.footer__nav a:hover {
    opacity: .75;
    color: aquamarine;
}


@media (max-width:1066px){
    .footer__logo {
        margin-left: 25px;
    }

    .footer__nav {
        margin-right: 25px;
        margin-bottom: 118px;
        margin-top: 119px;
    }
}


@media (max-width:770px){
    .footer__card {
        margin-left: 25px;  
    }

    .footer__logo {
        display: none;
    }

    .footer__nav {
        margin-right: 25px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
}


@media (max-width:280px){
    .footer__card {
        margin-left: 0px;
    }
}
