*{
    padding: 0;
    margin: 0;
    border: 0;
}
 *:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
nav,footer,header,aside {
    display: block;
}
html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a, a:visited {
    text-decoration: none;
}
ul,li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: 400;
}

/*-------------------------*/


body {
    font-family: League Spartan;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(14, 29, 40, 0.8);
    z-index: 2;

}

.wrapper {
    padding: 0 120px;
    max-width: 1920px;
    margin: 0 auto;
}

@media (max-width: 760px){
    .wrapper {
        padding: 0 60px;
    }
}



.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__logo {

}

.header__nav {

}

.header__list {
    display: flex;
    flex-wrap: wrap;
}


.header__item {
    margin-right: 40px;
}

.header__item:last-child {
    margin-right: 0px;
}

.header__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #F5F5F5;   
}

.header__login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1150px){

    .header__login {
        margin-top: 25px;
    }

}


@media (max-width: 900px){

    .header__list {
        margin-top: 25px;
    }
}

@media (max-width: 600px){
    .header__list {
        display: none;
    }
}



.header__login p {
    color: white;
    margin-right: 40px;
    font-size: 24px;
    font-weight: 300;
}

.header__login p:last-child {
    margin-left: 40px;
    margin-right: 0;
}

.header__login-btn {
    margin-right: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #F5F5F5;

}

.header__sign-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #F5F5F5;
    border: 1px solid #E0B100;
    border-radius: 8px;
    padding: 8px 16px;
}

.intro {
    background: url(../img/header_img/Hero\ Image.png) no-repeat center;
    background-size: cover;
    padding-top: 168px;
    padding-bottom: 90px;
}

@media (max-width: 898px) {

    .intro {
        padding-top: 200px;
    }
}

.intro__title {
    max-width: 710px;
    font-weight: 600;
    font-size: 80px;
    line-height: 80px;
    color: #F5F5F5;
}

.intro__text {
    max-width: 710px;
    height: auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #F5F5F5;
    margin-top: 40px;
    letter-spacing: 1px;
}

@media (max-width: 590px) {
    .intro__text {
        margin-bottom: 70px;
    }

    .intro__title {
        padding-top: 80px;
    }

}

.intro__search-form {
    margin-top: 80px;
    display: flex;
    width: 100%;
    max-width: 828px;
}

@media (max-width: 710px) {
    .intro__search-form {
        flex-direction: column;
    }
}

.intro__search {
    width: 100%;
    max-width: 402px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1065px){

    .intro__search {
        margin-right: 25px;
    }
}

@media (max-width: 710px) {

    .intro__search {
        margin-left: 0;
    }
}

.intro__search:last-child {
    justify-content: flex-end;
}

.intro__search:first-child {
    margin-left: 0px;
}

.intro__search_title {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #F5F5F5;
    font-size: 16px;
    line-height: 24px;
}

.intro__search-field {
    margin-bottom: 40px;
    width: 100%;
    max-width: 358px;
    height: 48px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    background-color: transparent;
    background: url(../img/header_img/input_img/Vector.png) no-repeat left center;
    border-bottom: 2px solid #F5F5F5;
    outline: none;
    padding-left: 40px;
}

.intro__search-field_2 {
    margin-bottom: 40px;
    width: 100%;
    max-width: 358px;
    height: 48px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    background-color: transparent;
    background: url(../img/header_img/input_img/uis_calender.png) no-repeat left center;
    border-bottom: 2px solid #F5F5F5;
    outline: none;
    padding-left: 40px;
    
}

.intro__search-field_3 {
    margin-bottom: 40px;
    width: 100%;
    max-width: 358px;
    height: 48px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    background-color: transparent;
    background: url(../img/header_img/input_img/material-symbols_person.png) no-repeat left center;
    border-bottom: 2px solid #F5F5F5;
    outline: none;
    padding-left: 40px;
}

.intro__search-field::placeholder {
    font-weight: 400;
    font-size: 22px;    
}

.intro__search-field_2::placeholder {
    font-weight: 400;
    font-size: 22px;
}

.intro__search-field_3::placeholder {
    font-weight: 400;
    font-size: 22px;
}

.intro__button {
    display: flex;
    justify-content: flex-end;
}

.intro__search-button {
    width: 100%;
    height: 100%;
    max-width: 222px;
    min-height: 48px;
    background-color: transparent;
    border: 2px solid #E0B100;
    border-radius: 30px;
    font-size: 20px;
    line-height: 16px;
    font-weight: 400;
    color:#F5F5F5;
}


.destinations {
    padding-top: 80px;
}

.destinations__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width:820px) {
    .destinations__row {
        flex-direction: column;
    }
}

.destinations__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 544px;
}

@media (max-width: 1670px){

    .destinations__info {
        margin-right: 25px;
    }
}


.destinations__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 40px;
    width: 100%;
    max-width: 544px;
}


@media (max-width: 530px){

    .destinations__title{
        font-size: 36px;
        line-height: 24px;
    }
}

.destinations__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;
}

.destinations__info-button {
    height: 48px;
    max-width: 192px;
    line-height: 16px;
    border-radius: 25px;
    background-color: #E0B100;
    transition-duration: 1s;
    color: #F5F5F5;
    transition-duration: 1s;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
}

.destinations__info-button:hover {
    background-color: transparent;
    border: 1px solid #000;
    color: red;
}

.destinations__places {
    display: flex;
    flex-direction: column;
    max-width: 970px;
}

.destinations__places_up {
    display: flex;
}

.destinations__places_lower {
    display: flex;
    margin-top: 40px;
}

@media (max-width: 650px){
    .destinations__places_up {
        flex-direction: column;
    }

    .destinations__places_lower {
        flex-direction: column;
        
    }
    
}

.destinations__place {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    max-width: 270px;
    width: 100%;
}

@media (max-width: 650px){
    .destinations__place {
        margin-right: 0px;
    }
}

.destinations__place_image {
    width: 100%;
    max-width: 270px;
    object-fit: cover;
}

@media (max-width: 650px){
    .destinations__place_image {
        margin-top: 40px;
    }
}

.destinations__place p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    width:100%;
    max-width: 154px; 
}

.destinations__place:last-child {
    margin-right: 0px;
}

.destinations__place_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
    width:100%;
    max-width: 270px;
}

@media (max-width:820px) {
    .destinations__place_text {
        
    }
}

.destinations__place_button {
    width: 100%;
    max-width: 40px;
    margin-top: 10px;
    transition-duration: 0.2s;
}

.destinations__place_button:hover {
    border-radius: 24px;
    background-color: blue;
}
@media (max-width:820px) {
    .destinations__place_button {
        margin-top: 10px;
    }
}

.destinations__place_name {
    color: orange;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin-left: 5px;
    width: 100%;
    max-width: 70px;
}


.services {
    background: url(../img/Illustration.png) no-repeat bottom right 30%;
    background-size: 45%;
}

@media (max-width:830px){
    .services {
        background-size: 80%;
    }
}
@media (max-width:650px){
    .services {
        background: transparent;
    }
}

.services__row {
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
    padding-bottom: 200px;
}

@media (max-width:650px){
    .services__row {
        display: flex;
        flex-direction: column;
       
    }
}


.services__items {
    width: 100%;
    max-width: 686px;
}

.services__item {
    width: 100%;
    max-width: 686px;
}

.services__item h3 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 8px;
}

.services__item p {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 32px;
}

.services__title {
    height: 200px;
    width: 100%;
    max-width: 544px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.services__title h2 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 600;
}
.services__title-button {
    height: 48px;
    max-width: 1292px;
    padding: 16px 40px;
    line-height: 16px;
    border-radius: 25px;
    border: 1px solid #E0B100;
    background-color: #E0B100;
    transition-duration: 1s;
    color: #F5F5F5;
    transition-duration: 1s;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
}


.services__title-button:hover {
    background-color: transparent;
    border: 1px solid #000;
    color: red;
}

@media (max-width: 650px){
    .services__title {
        justify-content: flex-start;
    }

    .services__title-button {
        margin-top: 15px;
    }
}

@media (max-width: 354px){
    .services__title-button {
        margin-top: 15px;
    }
}


.subscribe__container {
    margin-top: 80px;
    margin-bottom: 80px;
    width: 100%;
    max-width: 1680px;
    height: auto;
    background-color: #E0B100;
    border-radius: 35px;
}

.subscribe__row {
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.subscribe__title {
    width: 100%;
    max-width: 900px;
    font-weight: 600;
    font-size: 48px;
    line-height: 63px;
}

.subscribe__text {
    width: 100%;
    max-width: 686px;
    margin-top: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.subscribe__search {
    margin-top: 40px;
    padding: 40px;
    width: 100%;
    max-width: 686px;
    background-color: #F5F5F5; 
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
}

.subscribe__input {
    width: 100%;
    max-width: 402px;
    background: url(../img/subscribe_img/Vector.png) no-repeat left center;
    border-bottom: 1px solid #141E38;
    padding-left: 40px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    outline: none;
    
}

.subscribe__button {
    height: 48px;
    width: 100%;
    max-width: 160px;
    padding: 16px 40px;
    line-height: 16px;
    border-radius: 25px;
    border: 1px solid #E0B100;
    background-color: #E0B100;
    transition-duration: 1s;
    color: #F5F5F5;
    font-size: 18px;
    font-weight: 500;
}

.subscribe__button:hover {
    background-color: transparent;
    border: 1px solid #000;
    color: red;
}

@media (max-width: 600px){

    .subscribe__row {
        padding: 40px;
    }

    .subscribe__input{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0;
        background: transparent;
        
    }
    .subscribe__search {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .subscribe__button {
        margin-top: 40px;
        padding: 16px 10px;
    }
}

@media (max-width: 390px){
    .subscribe__row {
        padding: 20px;
    }

    .subscribe__search {
        padding: 10px;
    }
}


.subscribe__image {
    margin-top: 40px;
    
}

.footer__row {
    width: 100%;
    max-width: 1680px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer__text {
    width: 100%;
    max-width: 686px;
    margin-top: 40px;
    font-size: 22px;
    line-height: 34px;
    font-weight: 400;
}

.footer__nav {
    margin-top: 40px;
    width: 100%;
    max-width: 1680px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


@media (max-width: 700px){
    .footer__nav {
        display: none;
    }
}

.footer__list {
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.footer__link {
    width: 100%;
    max-width: 88px;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: black;
}

.footer__sign {
    margin-top: 40px;
    margin-bottom: 80px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}