*{
    padding: 0;
    margin: 0;
    border: 0;
}
 *:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
nav,footer,header,aside {
    display: block;
}
html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a, a:visited {
    text-decoration: none;
}
ul,li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

body {
    font-family: League Spartan;
}

.maket {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 943.61px;
    margin: 0px auto;
}

.portfolio {
    flex: 1 1 auto;
}

.title {
    padding: 33px 0;
}

.title__row {

}

.title__header {
    display:flex;
    justify-content:space-between;
    border-bottom: 2px solid #828282;
    padding-bottom: 32px;
}

.title__button {
    color: #828282;
    font-size: 22px;
}

.title__button:hover {
    color: black;
}

.title__text {
    padding-top: 38px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

   
}

.title__name {
    font-size: 47.34px;
    font-weight: 700;
    width: 100px;
    height: 123px;
    display: flex;
    align-items: end;
    
}

.title__main {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    height: 40px;
    width: 160px;
    margin-bottom: 5px; 
}

.title__lang {
    display: flex;
    justify-content: center;
    transform: rotate(-90deg);
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.title__language-one {
    font-weight: 500;
    margin-bottom: 15px;
    color: #828282;
}

.title__language-second{
    font-weight: 500;
    margin-bottom: 15px;
    color: #828282;
}

.title__language-one:hover {
    color: black;
}
.title__language-second:hover {
    color: black;
}

.title__img {
    padding-top: 40px;
}

.second__page {
    background-color: #f6f6f6;
    padding-top: 121px;
    padding-bottom: 107px;
}

.second__page-main {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;

   
}

.second__page-title {
    text-align: center;
    font-size: 34px;
    line-height: 42px;
    font-weight: 600;
}

.second__page-column {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    line-height: 22px;
    padding-top: 17px;
    color: black;

}

.second__page-text{
  flex: 1 1 auto;
}

.third__page {
    padding-top: 121px;
    padding-bottom: 107px;
}

.third__page-title {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    font-weight: 600;
}

.third__page-text {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 62px;
    margin-bottom: 84px;
}

.third__page-row {
    display: flex;
    justify-content: space-between;
}

.third__page-item {
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    color:#828282;
    width: 167px;
    height: 195px;
}

.third__page-image {
    margin-bottom: 23px;
}

.third__page-image-text {
    margin-bottom: 41px;
}

.fourth__page {
    background-color: #f6f6f6;
    padding-bottom: 87px;
    padding-top: 105px;
}

.fourth__page-title {
    text-align: center;
    font-size: 34px;
    line-height: 43px;
    font-weight: 600;
}

.fourth__portfolio-image {
    margin-top: 44px;
    margin-bottom: 44px;
}

.fourth__portfolio-link {
    margin-bottom: 45px;
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    color: #828282;

}

.fourth__portfolio-link:hover {
    color:black;
}

.fifth__page {
    padding-bottom: 123px;
    padding-top: 114px;
}

.fifth__page-title {
    text-align: center;
    font-size: 34px;
    line-height: 42px;
    font-weight: 600;   
}

.fifth__page-text {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    margin-top: 22px;
}

.fifth__page-button {
    display: flex;
    justify-content: center;
}

.fifth__content-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 25px;
    width: 181px;
    height: 42px;
    font-size: 18px;
    margin-top: 42px;
    background-color: black;
}

.fifth__page-link-image {
    margin-top: 86px;
    display:flex;
    justify-content: center;

}

.fifth__page-link-img {
    max-width: 100%;
    width: 344px;
}

.fifth__page-link-row {
    display:flex;
    justify-content: space-between;
}

.fifth__page-social {
    margin-top: 45px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}


